<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, user-scalable=no, width=device-width"
    />

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/static/css/zoomwall.css" />

    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }

      body {
        background-color: black;
      }

      header {
        padding: 1em;
        background-color: #333;
        text-align: center;
      }

      a:link,
      a:visited {
        text-decoration: none;
        font-family: sans-serif;
        color: white;
      }

      a:hover {
        color: #ddd;
      }

      #author {
        float: left;
      }

      #repo {
        float: right;
      }

      #title {
        display: inline-block;
        font-weight: bold;
      }
    </style>

    <script type="module">
      import * as zoomwall from "{{ theme_url }}/static/js/zoomwall-01.js";

      window.onload = function () {
        zoomwall.create(document.getElementById("zoomwall"), true);
      };
    </script>
  </head>

  <body>
    
    <header>
      {% block header %}{% endblock %}
    </header>

    <div id="zoomwall" class="zoomwall">
      {% block zoomwall %}{% endblock %}
    </div>

  </body>
</html>
